body{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
img{
    border-radius: 50%;
    position: static;
    left: 450px;
    padding-top: 20px;
}
h1{
    text-decoration-line: underline;
    text-align: center;
    position: relative;
    top: 20px;
    color: antiquewhite;
    font-family:"Rubik",serif;
}
h2{
    text-decoration-line: underline;
    position:relative ;
    top: 20px;
    font-family:"Rubik",serif;
}

body h3{
    text-indent: 0%;
    background-color: white;
    color: black;
    margin-inline: 100px;
    text-transform: uppercase;
    font-family: "Quicksand",serif;
}
footer{
    position: absolute;
}
#about{
    border: 1px solid white;
    box-sizing: content-box;
}
#Contact{
    border: 1px solid white;
    box-sizing: content-box;
}
#education{
    border: 1px solid white;
    box-sizing: content-box;
}
#expertise{
    border: 1px solid white;
    box-sizing: content-box;
}
#Language{
    border: 1px solid white;
    box-sizing: content-box;
    padding-bottom: 20px;
}
#work{
    border: 1px solid white;
    box-sizing: content-box;
    padding-bottom: 20px;
}
#intro{
    border: 1px solid white;
    box-sizing: content-box;
    height: 400px;
    
}
